@use "../variables" as *;
@use "../mixins" as *;

.dresscode {
    width: 100%;
    .content {
        width: 100%;
        perspective: 1000px;
        background: url('../../assets/images/flower_bg_02.png') no-repeat right 20% / 45%;
        padding-bottom: 17%;
        h2 {
            font-family: $font-UVNBUCTHU;
            font-size: 50px;
            font-weight: 300;
            margin-top: 7%;
        }

        .colors-grid {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: 76%;
            margin-top: 5%;
    
            .item {
                width: 33.33%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .color {
                    max-width: 44px;
                    width: 100%;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    border: 1px solid black;
                }

                .label {
                    font-size: 14px;
                    margin-top: 10%;
                    font-family: $font-ICIELBCOLDSTYLE;
                    text-transform: uppercase;
                }
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            h2 {
                font-size: calc((50 / 500) * 100vw);
            }

            .colors-grid {
                .item {
                    .color {
                        max-width: calc((44 / 500) * 100vw);
                    }
    
                    .label {
                        font-size: calc((14 / 500) * 100vw);
                    }
                }
            }
        }
    }
}