@use "../variables" as *;
@use "../mixins" as *;

.end {
    width: 100%;
    .content {
        width: 100%;
        background-image: url('../../assets/images/hero_bg_bottom.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        font-family: $font-ICIELBCOLDSTYLE;
        padding-bottom: 40%;
        .text-main {
            font-size: 12px;
            line-height: 1.3;
            margin-top: 22%;
            text-align-last: center;
        }

        .intro {
            font-family: $font-UVNKeChuyen3;
            font-size: 24px;
            margin-top: 3%;
        }

        .text-end {
            font-size: 9px;
            margin-top: 15%;
        }
    }

    @media (max-width: 500px) {
        .content {
            .text-main {
                font-size: calc((12 / 500) * 100vw);
            }
    
            .intro {
                font-size: calc((24 / 500) * 100vw);
            }

            .text-end {
                font-size: calc((9 / 500) * 100vw);
            }
        }
    }
}
