@use "../variables" as *;
@use "../mixins" as *;

.hero {
    width: 100%;
    .content {
        aspect-ratio: 500 / 827;
        background: url('../../assets/images/hero_bg_top.png') no-repeat top / contain, 
                    url('../../assets/images/hero_bg_bottom.png') no-repeat 50% 95% / contain;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        perspective: 1000px;
        padding-top: 26%;
        .tagline {
            font-family: $font-UVNBUCTHU;
            font-size: 24px;
            margin-bottom: 12%;
        }
        .box-logo {
            position: relative;
            margin-bottom: 10%;
            @include flex-center;
            img.frame {
                max-width: 188px;
                width: 100%;
                height: auto;
            }
            img.logo {
                position: absolute;
                max-width: 35px;
                width: 100%;
                height: auto;
                top: 50%;
                transform: translateY(-40%);
            }
        }
        .welcome {
            font-family: $font-ICIELBCOLDSTYLE;
            font-size: 13.5px;
            text-transform: uppercase;
        }
        .names {
            font-family: $font-UVNBUCTHU;
            font-size: 48px;
            line-height: 1;
        }
    }

    @media (max-width: 500px) {
        .content {
            .logo {
                img {
                    max-width: calc((94 / 500) * 100vw);
                }
            }

            .tagline {
                font-size: calc((24 / 500) * 100vw);
            }
            .box-logo {
                img.frame {
                    max-width: calc((188/ 500) * 100vw);
                }
                img.logo {
                    max-width: calc((35 / 500) * 100vw);
                }
            }
            .welcome {
                font-size: calc((13.5 / 500) * 100vw);
            }
            .names {
                font-size: calc((48 / 500) * 100vw);
            }
        }
    }
}
